/* Grids */
.container {
    width: 100%;
    padding-right: var(--sp-md);
    padding-left: var(--sp-md);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: var(--brkpt-sm)) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: var(--brkpt-md)) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: var(--brkpt-lg)) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: var(--brkpt-xl)) {
    .container {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(-1 * var(--sp-md));
}

.col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 0 var(--sp-md);
}

.col-1 {
    flex: 0 0 8.3%;
    max-width: 8.3%;
}

.col-2 {
    flex: 0 0 16.67%;
    max-width: 16.67%;
}

.col-3 {
    flex: 0 0 25%;
    max-width: 25%;
}

.col-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.col-5 {
    flex: 0 0 41.67%;
    max-width: 41.67%;
}

.col-6 {
    flex: 0 0 50%;
    max-width: 50%;
}

.col-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
}

.col-8 {
    flex: 0 0 66.67%;
    max-width: 66.67%;
}

.col-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.col-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
}

.col-11 {
    flex: 0 0 91.67%;
    max-width: 91.67%;
}

.col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
    
@media (min-width: var(--brkpt-sm)) {
    .col-sm-1 {
        flex: 0 0 8.3%;
        max-width: 8.3%;
    }
    
    .col-sm-2 {
        flex: 0 0 16.67%;
        max-width: 16.67%;
    }
    
    .col-sm-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-sm-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    
    .col-sm-5 {
        flex: 0 0 41.67%;
        max-width: 41.67%;
    }
    
    .col-sm-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-sm-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }
    
    .col-sm-8 {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
    
    .col-sm-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .col-sm-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
    
    .col-sm-11 {
        flex: 0 0 91.67%;
        max-width: 91.67%;
    }
    
    .col-sm-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }        
}

@media (min-width: var(--brkpt-md)) {
    .col-md-1 {
        flex: 0 0 8.3%;
        max-width: 8.3%;
    }
    
    .col-md-2 {
        flex: 0 0 16.67%;
        max-width: 16.67%;
    }
    
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-md-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    
    .col-md-5 {
        flex: 0 0 41.67%;
        max-width: 41.67%;
    }
    
    .col-md-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-md-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }
    
    .col-md-8 {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
    
    .col-md-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .col-md-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
    
    .col-md-11 {
        flex: 0 0 91.67%;
        max-width: 91.67%;
    }
    
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }        
}

@media (min-width: var(--brkpt-lg)) {
    .col-lg-1 {
        flex: 0 0 8.3%;
        max-width: 8.3%;
    }
    
    .col-lg-2 {
        flex: 0 0 16.67%;
        max-width: 16.67%;
    }
    
    .col-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-lg-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    
    .col-lg-5 {
        flex: 0 0 41.67%;
        max-width: 41.67%;
    }
    
    .col-lg-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-lg-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }
    
    .col-lg-8 {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
    
    .col-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .col-lg-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
    
    .col-lg-11 {
        flex: 0 0 91.67%;
        max-width: 91.67%;
    }
    
    .col-lg-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }        
}

@media (min-width: var(--brkpt-xl)) {
    .col-xl-1 {
        flex: 0 0 8.3%;
        max-width: 8.3%;
    }
    
    .col-xl-2 {
        flex: 0 0 16.67%;
        max-width: 16.67%;
    }
    
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
    
    .col-xl-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
    
    .col-xl-5 {
        flex: 0 0 41.67%;
        max-width: 41.67%;
    }
    
    .col-xl-6 {
        flex: 0 0 50%;
        max-width: 50%;
    }
    
    .col-xl-7 {
        flex: 0 0 58.33%;
        max-width: 58.33%;
    }
    
    .col-xl-8 {
        flex: 0 0 66.67%;
        max-width: 66.67%;
    }
    
    .col-xl-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }
    
    .col-xl-10 {
        flex: 0 0 83.33%;
        max-width: 83.33%;
    }
    
    .col-xl-11 {
        flex: 0 0 91.67%;
        max-width: 91.67%;
    }
    
    .col-xl-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }        
}

/* Column Ordering */
.or-f {
    order: -1;
}

.or-l {
    order: 13;
}

.or-0 {
    order: 0;
}

.or-1 {
    order: 1;
}

.or-2 {
    order: 2;
}

.or-3 {
    order: 3;
}

.or-4 {
    order: 4;
}

.or-5 {
    order: 5;
}

.or-6 {
    order: 6;
}

.or-7 {
    order: 7;
}

.or-8 {
    order: 8;
}

.or-9 {
    order: 9;
}

.or-10 {
    order: 10;
}

.or-11 {
    order: 11;
}

.or-12 {
    order: 12;
}

/* Column Offsets */
.ofst-1 {
    margin-left: 8.3%;
}

.ofst-2 {
    margin-left: 16.67%;
}

.ofst-3 {
    margin-left: 25%;
}

.ofst-4 {
    margin-left: 33.33%;
}

.ofst-5 {
    margin-left: 41.67%;
}

.ofst-6 {
    margin-left: 50%;
}

.ofst-7 {
    margin-left: 58.33%;
}

.ofst-8 {
    margin-left: 66.67%;
}

.ofst-9 {
    margin-left: 75%;
}

.ofst-10 {
    margin-left: 83.33%;
}

.ofst-11 {
    margin-left: 91.67%;
}

@media (min-width: var(--brkpt-sm)) {
    .ofst-sm-1 {
        margin-left: 8.3%;
    }
    
    .ofst-sm-2 {
        margin-left: 16.67%;
    }
    
    .ofst-sm-3 {
        margin-left: 25%;
    }
    
    .ofst-sm-4 {
        margin-left: 33.33%;
    }
    
    .ofst-sm-5 {
        margin-left: 41.67%;
    }
    
    .ofst-sm-6 {
        margin-left: 50%;
    }
    
    .ofst-sm-7 {
        margin-left: 58.33%;
    }
    
    .ofst-sm-8 {
        margin-left: 66.67%;
    }
    
    .ofst-sm-9 {
        margin-left: 75%;
    }
    
    .ofst-sm-10 {
        margin-left: 83.33%;
    }
    
    .ofst-sm-11 {
        margin-left: 91.67%;
    }
}

@media (min-width: var(--brkpt-md)) {
    .ofst-md-1 {
        margin-left: 8.3%;
    }
    
    .ofst-md-2 {
        margin-left: 16.67%;
    }
    
    .ofst-md-3 {
        margin-left: 25%;
    }
    
    .ofst-md-4 {
        margin-left: 33.33%;
    }
    
    .ofst-md-5 {
        margin-left: 41.67%;
    }
    
    .ofst-md-6 {
        margin-left: 50%;
    }
    
    .ofst-md-7 {
        margin-left: 58.33%;
    }
    
    .ofst-md-8 {
        margin-left: 66.67%;
    }
    
    .ofst-md-9 {
        margin-left: 75%;
    }
    
    .ofst-md-10 {
        margin-left: 83.33%;
    }
    
    .ofst-md-11 {
        margin-left: 91.67%;
    }
}

@media (min-width: var(--brkpt-lg)) {
    .ofst-lg-1 {
        margin-left: 8.3%;
    }
    
    .ofst-lg-2 {
        margin-left: 16.67%;
    }
    
    .ofst-lg-3 {
        margin-left: 25%;
    }
    
    .ofst-lg-4 {
        margin-left: 33.33%;
    }
    
    .ofst-lg-5 {
        margin-left: 41.67%;
    }
    
    .ofst-lg-6 {
        margin-left: 50%;
    }
    
    .ofst-lg-7 {
        margin-left: 58.33%;
    }
    
    .ofst-lg-8 {
        margin-left: 66.67%;
    }
    
    .ofst-lg-9 {
        margin-left: 75%;
    }
    
    .ofst-lg-10 {
        margin-left: 83.33%;
    }
    
    .ofst-lg-11 {
        margin-left: 91.67%;
    }
}

@media (min-width: var(--brkpt-xl)) {
    .ofst-xl-1 {
        margin-left: 8.3%;
    }
    
    .ofst-xl-2 {
        margin-left: 16.67%;
    }
    
    .ofst-xl-3 {
        margin-left: 25%;
    }
    
    .ofst-xl-4 {
        margin-left: 33.33%;
    }
    
    .ofst-xl-5 {
        margin-left: 41.67%;
    }
    
    .ofst-xl-6 {
        margin-left: 50%;
    }
    
    .ofst-xl-7 {
        margin-left: 58.33%;
    }
    
    .ofst-xl-8 {
        margin-left: 66.67%;
    }
    
    .ofst-xl-9 {
        margin-left: 75%;
    }
    
    .ofst-xl-10 {
        margin-left: 83.33%;
    }
    
    .ofst-xl-11 {
        margin-left: 91.67%;
    }
}